# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [2]:
Sets={1,2,3,4,5,6,7.8,9,10}
print(Sets)

{1, 2, 3, 4, 5, 6, 7.8, 9, 10}


### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [5]:
Sets.add(11)
print(Sets)
Sets.remove(1)
print(Sets)

{1, 2, 3, 4, 5, 6, 7.8, 9, 10, 11}
{2, 3, 4, 5, 6, 7.8, 9, 10, 11}


### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [9]:
s1={1,2,3,4,5}
s2={2,4,6,8,10}
union=s1.union(s2)
print(union)
intersection=s1.intersection(s2)
print(intersection)
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}


### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [11]:
s1={x**2 for x in range(1,11)}
print(s1)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}


### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [13]:
Sets={1,2,3,4,5,6,7,8,9,10}
even_set={x for x in Sets if x%2==0}
print(even_set)

{2, 4, 6, 8, 10}


### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [15]:
s1={1,1,2,2,3,4,5}
print(s1)

{1, 2, 3, 4, 5}


### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [ ]:
s1={1,2,3,4,5}
s2={2,4,6,-2,-3}
print(s1.issubset(s2))
print(s1.issuperset(s2))

<class 'set'>
False
False


### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [20]:
f1=frozenset([1,2,3,4,5])
print(type(f1))
print(f1)

<class 'frozenset'>
frozenset({1, 2, 3, 4, 5})


### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [21]:
s1={1,2,3,4,5}
l1=list(s1)
l1.append(6)
s1=set(l1)
print(s1)

{1, 2, 3, 4, 5, 6}


### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [25]:
dic={"{1,2,3}":6,"{4,5,6}":15,"{7,8,9}":24}
print(dic)

{'{1,2,3}': 6, '{4,5,6}': 15, '{7,8,9}': 24}


### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [26]:
s1={1,2,3,45,88,66,12,63}
for i in s1:
    print(i)

1
2
3
66
12
45
88
63


### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [28]:
s1={1,2,3,45,88,66,12,63}
while len(s1)>0:
    s1.pop()
    print(s1)

{2, 3, 66, 12, 45, 88, 63}
{3, 66, 12, 45, 88, 63}
{66, 12, 45, 88, 63}
{12, 45, 88, 63}
{45, 88, 63}
{88, 63}
{63}
set()


### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [30]:
s1={1,2,3,4,5}
s2={2,4,6,8,10}

s1=s1.symmetric_difference(s2)
print(s1)

{1, 3, 5, 6, 8, 10}


### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [34]:
s1={1,2,3,4,5}
print(5 in s1)

True


### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [35]:
s1={(1,2),(4,5),(7,8),(9,10)}
print(s1)

{(9, 10), (4, 5), (1, 2), (7, 8)}