# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
tup=tuple(i for i in range(1,11))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [2]:
print(tup[0])
print(tup[len(tup)//2])
print(tup[-1])

1
6
10


### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [3]:
print(tup[0:4])
print(tup[7:])
print(tup[2:5])

(1, 2, 3, 4)
(8, 9, 10)
(3, 4, 5)


### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [4]:
matrix=((1,2,3),
        (4,5,6),
        (7,8,9))

print(matrix[1][2])

6


### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [5]:
t1=(1,2,3)
t2=(4,5,6)
concatenate=t1+t2
print(concatenate)

(1, 2, 3, 4, 5, 6)


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [7]:
tup=(10,20,30,40,10,50,60,10)
print(tup.count(10))
print(tup.index(10))

3
0


### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [8]:
tup=(10,20,30,40,50)
a,b,c,d,e=tup
print(a)
print(b)
print(c)
print(d)
print(e)

10
20
30
40
50


### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [9]:
lst=[1,12,15,18,2]
tup=tuple(lst)
print(tup)

(1, 12, 15, 18, 2)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [10]:
tup=((1,2,3),
    (4,5,6),
    (7,8,9))
for t in tup:
    for i in t:
        print(i,end=" ")
    print()

1 2 3
4 5 6
7 8 9


### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [12]:
tup=(1,2,3,4,5)
l1=list(tup)
l1.append(6)
tup=tuple(l1)
print(tup)

(1, 2, 3, 4, 5, 6)


### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [14]:
tup=('i','n','d','i','a')
print(tup)
result = ''.join(tup)
print(result)

('i', 'n', 'd', 'i', 'a')
india


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [17]:
dic={(1,2):88,(3,4):99,(5,6):45}
print(dic)

{(1, 2): 88, (3, 4): 99, (5, 6): 45}


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [18]:
tup=((1,2,3),
    (4,5,6),
    (7,8,9))
for t in tup:
    for i in t:
        print(i,end=" ")
    print()

1 2 3
4 5 6
7 8 9


### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [19]:
tup=(1,2,2,3,4,5,5,9)
t=set(tup)
print(t)

{1, 2, 3, 4, 5, 9}


### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [22]:
def min_in_tuple(tup):
    return min(tup)

def max_in_tuple(tup):
    return max(tup)

def sum_of_tuple(tup):
    return sum(tup)

tup=(1,2,3,4,5)
print("Minimum:",min_in_tuple(tup))
print("Maximum:",max_in_tuple(tup))
print("Sum:",sum_of_tuple(tup))

Minimum: 1
Maximum: 5
Sum: 15